<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <figure class="figure w-100">
          <img class="img-fluid w-100" src="../../../../assets/img/correcto.png" alt="Correcto">
        </figure>
        <p class="text-center mt-3">Se ha iniciado sesión correctamente</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="row">
  <button class="rounded" mat-dialog-close (click)="paginaInicio()">Cerrar</button>
</mat-dialog-actions>
