<div class="container-fluid">
    <div class="row align-items-stretch mt-5">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100">
            <p>Este coche tuvo un accidente en la parte frontal en un atasco al chocarse con el coche que tenía delante, produciendo golpes en la parte frontal y fallos en el motor.</p>
            <br>
            <p>Se realizó una reparación completa de los daños en la parte frontal del vehículo, incluyendo la sustitución y alineación de las piezas afectadas, así como la reparación de la carrocería y la pintura correspondiente para restaurar su aspecto original.</p>
            <p>Se llevaron a cabo reparaciones exhaustivas en el motor y sus componentes, incluyendo la sustitución de piezas dañadas, la reparación de fallos mecánicos, y la realización de ajustes y mantenimiento preventivo para garantizar un funcionamiento óptimo.</p>
            <p>Se llevó a cabo una inspección minuciosa de los elementos de seguridad del vehículo, como los airbags, cinturones de seguridad, sistemas de frenado, y luces, para garantizar su correcto funcionamiento y cumplimiento de los estándares de seguridad.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-stretch">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="img-fluid figure-img" src="../../../assets/img/coche1.jpg">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="img-fluid figure-img" src="../../../assets/img/coche-reparado1.jpg">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
    </div>
</div>