<div class="container-fluid">
    <div class="row align-items-center my-5">
        <h1 class="ps-lg-5 mb-5">Trabajos anteriores</h1>
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100">
            <p>
                Este coche tuvo un accidente en la parte frontal en un atasco al chocarse con el coche que tenía
                delante,
                produciendo golpes en la parte frontal y fallos en el motor.
            </p>
            <br>
            <p>
                Se realizó una reparación completa de los daños en la parte frontal del vehículo, incluyendo la
                sustitución y alineación de las piezas afectadas, así como la reparación de la carrocería y la pintura
                correspondiente para restaurar su aspecto original.
            </p>
            <p>
                Se llevaron a cabo reparaciones exhaustivas en el motor y sus componentes, incluyendo la sustitución de
                piezas dañadas, la reparación de fallos mecánicos, y la realización de ajustes y mantenimiento
                preventivo para garantizar un funcionamiento óptimo.
            </p>
            <p>
                Se llevó a cabo una inspección minuciosa de los elementos de seguridad del vehículo, como los airbags,
                cinturones de seguridad, sistemas de frenado, y luces, para garantizar su correcto funcionamiento y
                cumplimiento de los estándares de seguridad.
            </p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche1.jpg" alt="Coche 1">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="igure-img w-100 m-0" src="../../../assets/images/coche-reparado1.jpg"
                        alt="Coche reparado 1">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
    </div>
    <div class="row align-items-center me-lg-4 my-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche2.avif" alt="Coche 2">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche-reparado2.jpg"
                        alt="Coche reparado 2">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100 order-1 order-lg-2">
            <p>
                Para restaurar este vehículo  se procedió con el desmontaje  de las partes y componentes del coche, lo que permitió un acceso completo a las 
                áreas afectadas por la oxidación. Posteriormente, se llevó a cabo una limpieza a fondo para eliminar el óxido 
                y la suciedad acumulada a lo largo de los años.
            </p>
            <p>
                Las áreas afectadas por la oxidación fueron tratadas y reparadas utilizando técnicas de lijado, soldadura y 
                aplicación de masilla para restaurar la integridad estructural y estética de la carrocería.
            </p>
            <p>
                Se procedió con la restauración de los componentes mecánicos, incluyendo el motor, la transmisión y el sistema 
                de suspensión. Se reemplazaron o repararon las piezas dañadas para asegurar un funcionamiento óptimo del vehículo.
            </p>
            <p>
                Una vez completadas las reparaciones, se aplicó una capa de imprimación antioxidante seguida de varias capas de 
                pintura de alta calidad para restaurar el acabado original del coche. Se realizaron trabajos de pulido y encerado 
                para obtener un brillo impecable.
            </p>
        </div>
    </div>
    <div class="row align-items-center my-5">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100">
            <p>
                Este vehículo llegó a nuestro taller con un impacto evidente en una de sus puertas, además de presentar
                problemas en el sistema de embrague.
            </p>
            <br>
            <p>
                Para reparar el impacto en la puerta se llevó a cabo una inspección detallada para evaluar el alcance
                del daño en la puerta y en otras áreas afectadas, Se procedió a reparar los daños en la puerta,
                utilizando técnicas especializadas para enderezar y reparar las abolladuras, así como para restaurar la integridad
                estructural de la carrocería y después de la reparación, se aplicó una capa de pintura de alta calidad
                para igualar el color y restaurar la apariencia original del vehículo.
            </p>
            <br>
            <p>
                Para reparar el sistema de embrague se reemplazaron os componentes dañados o desgastados del embrague utilizando
                piezas de repuesto de alta calidad y compatibles con las especificaciones del fabricante y Una vez completada la
                instalación de los nuevos componentes, se realizaron ajustes precisos y pruebas de funcionamiento para garantizar un rendimiento óptimo.
            </p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche3.webp" alt="Coche 3">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche-reparado3.jpeg"
                        alt="Coche reparado 3">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
    </div>
    <div class="row align-items-center me-lg-4 my-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center order-2 order-lg-1">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche4.jpg" alt="Coche 4">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche-reparado4.jpg"
                        alt="Coche reparado 4">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100 order-1 order-lg-2">
            <p>
                Al recibir el vehículo con un motor averiado y problemas en los frenos, se procedió con una inspección y un 
                proceso de reparación para restaurar su funcionalidad y seguridad.
            </p>
            <br>
            <p>
                Se llevó a cabo un análisis detallado del motor para identificar la causa de la avería, utilizando herramientas y equipos de diagnóstico avanzados,
                Se reemplazaron o repararon los componentes defectuosos del motor, como válvulas y juntas, utilizando piezas de repuesto de calidad y siguiendo las 
                especificaciones del fabricante y Después de realizar las reparaciones necesarias, se realizaron ajustes y pruebas exhaustivas para garantizar el 
                correcto funcionamiento del motor y su rendimiento óptimo.
            </p>
            <br>
            <p>
                Para reparar los frenos se llevó a cabo una inspección completa de los componentes del sistema de frenos, incluyendo discos y pastillas de freno para 
                identificar cualquier desgaste o daño, se reemplazaron los componentes desgastados o dañados del sistema de frenos con piezas nuevas de alta calidad, 
                garantizando así un frenado seguro y efectivo y una vez completada la instalación de los nuevos componentes, se realizaron pruebas de funcionamiento 
                para asegurar que el sistema de frenos respondiera de manera óptima en diversas condiciones de conducción.
            </p>
        </div>
    </div>
    <div class="row align-items-center my-5">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-0 ps-lg-5 h-100">
            <p>
                Este vehículo sufrió un golpe en la parte trasera mientras estaba estacionado, causando daños en la zona
                del parachoques y la carrocería.
            </p>
            <br>
            <p>
                Para restaurarlo a su estado original, realizamos una reparación
                meticulosa que incluyó la sustitución de las piezas dañadas, el enderezamiento de la carrocería y la
                aplicación de una nueva capa de pintura para un acabado impecable.
            </p>
            <p>
                Nuestro objetivo era garantizar que
                el vehículo recuperara su apariencia y funcionalidad sin comprometer su integridad estructural ni su
                seguridad en la carretera.
            </p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img-comparison-slider class="h-100">
                <figure slot="first" class="figure d-flex flex-column antes">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche5.jpg" alt="Coche 5">
                    <figcaption>Antes</figcaption>
                </figure>
                <figure slot="second" class="figure d-flex flex-column despues">
                    <img class="figure-img w-100 m-0" src="../../../assets/images/coche-reparado5.jpg"
                        alt="Coche reparado 5">
                    <figcaption>Después</figcaption>
                </figure>
            </img-comparison-slider>
        </div>
    </div>
</div>