<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <figure class="carousel-item active">
            <img src="../../../assets/img/img-taller.jpg" class="d-block w-100" alt="Imagen taller">
            <div class="carousel-caption">
                <h5>Servicio profesional</h5>
                <p>Tu taller de confianza para servicios de mantenimiento y reparación</p>
            </div>
        </figure>
        <figure class="carousel-item">
            <img src="../../../assets/img/img-mecanico.jpg" class="d-block w-100" alt="Imagen mecánico">
            <div class="carousel-caption">
                <h5>Profesionales con experiencia</h5>
                <p>Experiencia y pasión en cada reparación: tu motor en las mejores manos</p>
            </div>
        </figure>
        <figure class="carousel-item">
            <img src="../../../assets/img/img-herramientas.jpg" class="d-block w-100" alt="Imagen herramientas">
            <div class="carousel-caption">
                <h5>Máquinas de última generación</h5>
                <p>Diagnóstico completo del sistema eléctrico</p>
            </div>
        </figure>
        <figure class="carousel-item">
            <img src="../../../assets/img/img-ruedas.jpg" class="d-block w-100" alt="Imagen herramientas">
            <div class="carousel-caption">
                <h5>Mantenemos tus ruedas en perfecto estado</h5>
                <p>Cambia y repara tus neumáticos con nosotros: calidad y rapidez garantizadas</p>
            </div>
        </figure>
    </div>
    <button class="carousel-control-prev d-flex justify-content-start ps-5" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-flex justify-content-end pe-5" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>