<h2 mat-dialog-title>Reseña de {{data.nota.usuario!.nombre}} {{data.nota.usuario!.apellidos}}</h2>
<mat-dialog-content>
    <div class="col-12">
        <div class="card d-flex flex-column flex-fill p-0 nota">
            <div class="card-header d-flex justify-content-between">
                <p>{{data.nota.usuario?.nombre}} {{data.nota.usuario?.apellidos}}</p>
                <p>{{data.nota.created_at | transformarFecha}}</p>
            </div>
            <div class="card-body">
                <p>{{data.nota.comentario}}</p>
            </div>
            <div class="card-footer">
                @for (pregunta of data.nota.preguntas; track pregunta.id) {
                    <p class="mb-1">{{pregunta.pregunta}}</p>
                    <p class="text-secondary mb-3">
                        @if (pregunta.id === 5) {
                            @switch (pregunta.pivot?.valor) {
                                @case ('1') { Muy lento ({{pregunta.pivot?.valor}}) }
                                @case ('2') { Lento ({{pregunta.pivot?.valor}}) }
                                @case ('3') { Aceptable ({{pregunta.pivot?.valor}}) }
                                @case ('4') { Rápido ({{pregunta.pivot?.valor}}) }
                                @case ('5') { Muy rápido ({{pregunta.pivot?.valor}}) }
                            }
                        } @else if (pregunta.id === 6) {
                            @switch (pregunta.pivot?.valor) {
                                @case ('1') { Muy mala ({{pregunta.pivot?.valor}}) }
                                @case ('2') { Mala ({{pregunta.pivot?.valor}}) }
                                @case ('3') { Mejorable ({{pregunta.pivot?.valor}}) }
                                @case ('4') { Buena ({{pregunta.pivot?.valor}}) }
                                @case ('5') { Muy buena ({{pregunta.pivot?.valor}}) }
                            }
                        } @else {
                            {{pregunta.pivot?.valor | titlecase}}
                        }
                    </p>
                }
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="row justify-content-around">
    <button class="btn btn-primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>