<section class="container-fluid mb-5">
    <article class="row justify-content-center">
        <div class="row mt-5">
            <h2>Selecciona los servicios que necesites</h2>
            <div class="col-12 col-md-6">
                <mat-form-field class="d-block" color="accent">
                    <mat-label>Servicios de reparación</mat-label>
                    <mat-select [formControl]="reparacionesControl" multiple>
                        @for (servicio of servReparacion$ | async; track servicio.id) {
                            <mat-option [value]="servicio.nombre">{{servicio.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <mat-form-field class="d-block" color="accent">
                    <mat-label>Servicios de mantenimiento</mat-label>
                    <mat-select [formControl]="mantenimientosControl" multiple>
                        @for (servicio of servMantenimiento$ | async; track servicio.id) {
                            <mat-option [value]="servicio.nombre">{{servicio.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-5">
            <h2>Fecha de la reserva</h2>
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                <p class="col-auto mb-3 mb-sm-0">El {{diaSeleccionado}} a las {{horaSeleccionada}}</p>
                <div class="col-auto">
                    <a class="btn btn-primary px-3" routerLink="/reservas">Cambiar fecha</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <h2>Selecciona el vehículo</h2>
            @defer (on idle) {
                @for (vehiculo of vehiculos$ | async; track vehiculo.vin) {
                    <app-vehiculo class="col-12 col-lg-6 mt-3 mt-lg-0" 
                        [vehiculo]="vehiculo" [editable]="false" 
                        [seleccionado]="vehiculoSeleccionado?.vin === vehiculo.vin ? true : false" 
                        (vehiculoSeleccionado)="seleccionarVehiculo($event)" 
                    />
                }
            } @placeholder {
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-primary fs-3" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                </div>
            } @error {
                <p class="text-center text-danger">Hubo un error al cargar los vehículos</p>
            }
        </div>
        <div class="row mt-5">
            <h2>Información adicional para la reserva</h2>
            @if (reparacionesSeleccionado.length !== 0) {
                <label class="col-12 form-label">
                    <input [(ngModel)]="parteSeguro"  type="checkbox">
                    Hay parte del seguro
                </label>
                @if (parteSeguro) {
                    <div class="col-12 col-md-6">
                        <label class="col-auto form-label">
                            Aqui puedes subir el parte del seguro
                            <input class="form-control" type="file" accept="application/pdf" [required]="parteSeguro">
                        </label>
                    </div>
                }
            } 
            <div class="col-12 col-md-6 mt-3 mt-md-0">    
                <label class="col-auto form-label">
                    Si quieres puedes subir una imagen del problema
                    <input class="form-control" type="file" accept="image/*">
                </label>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <button class="col-auto btn btn-primary px-5" [disabled]="!reservar" (click)="modalConfirmarReserva()">Reservar</button>
        </div>
    </article>
</section>
