<article class="row vh-100 align-content-center">
    <div class="card col-8 offset-2 mat-app-background">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Usuarios</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a class="btn" routerLink="usuarios">Administrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Vehículos</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a routerLink="vehiculos" class="btn">Administrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Servicios</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a routerLink="servicios" class="btn">Administrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Reservas</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a routerLink="reservas" class="btn">Administrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Reparaciones</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a routerLink="reparaciones" class="btn">Administrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <p class="fs-4 ms-4">Reseñas</p>
            </div>
            <div class="col-3 d-flex justify-content-end me-3 my-4">
                <a routerLink="notas" class="btn">Administrar</a>
            </div>
        </div>
    </div>
</article>