<h2 mat-dialog-title>Vehiculo de {{data.vehiculo.nif_propietario}}</h2>
<mat-dialog-content class="pb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <form class="form align-content-center my-4" method="post" [formGroup]="vehiculo">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputVin">VIN</label>
                    <input type="text" id="inputVin" class="form-control" placeholder="3A1RJF1Z0J9917540" maxlength="17" required formControlName="vin"
                        [ngClass]="{ 'is-valid': vin?.valid, 'is-invalid': vin?.invalid && (vin?.touched || vin?.dirty)}">
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputMatricula">Matrícula</label>
                    <input type="text" id="inputMatricula" class="form-control" placeholder="1234 AAA" maxlength="8" required formControlName="matricula"
                        [ngClass]="{ 'is-valid': matricula?.valid, 'is-invalid': matricula?.invalid && (matricula?.touched || matricula?.dirty)}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="inputFabricante" class="form-label">Fabricante</label>
                        <select id="inputFabricante" class="form-select" required formControlName="fabricante">
                            <option selected value="Alfa Romeo">Alfa Romeo</option>
                            <option value="Aston Martin">Aston Martin</option>
                            <option value="Audi">Audi</option>
                            <option value="Bentley">Bentley</option>
                            <option value="BMW">BMW</option>
                            <option value="Bugatti">Bugatti</option>
                            <option value="Cadillac">Cadillac</option>
                            <option value="Chevrolet">Chevrolet</option>
                            <option value="Citroën">Citroën</option>
                            <option value="Dacia">Dacia</option>
                            <option value="Ferrari">Ferrari</option>
                            <option value="Fiat">Fiat</option>
                            <option value="Ford">Ford</option>
                            <option value="Honda">Honda</option>
                            <option value="Hyundai">Hyundai</option>
                            <option value="Jaguar">Jaguar</option>
                            <option value="Jeep">Jeep</option>
                            <option value="Kia">Kia</option>
                            <option value="Lamborghini">Lamborghini</option>
                            <option value="Land Rover">Land Rover</option>
                            <option value="Lexus">Lexus</option>
                            <option value="Maserati">Maserati</option>
                            <option value="Mazda">Mazda</option>
                            <option value="McLaren">McLaren</option>
                            <option value="Mercedes">Mercedes</option>
                            <option value="Mini">Mini</option>
                            <option value="Mitsubishi">Mitsubishi</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Opel">Opel</option>
                            <option value="Pagani">Pagani</option>
                            <option value="Peugeot">Peugeot</option>
                            <option value="Porsche">Porsche</option>
                            <option value="Renault">Renault</option>
                            <option value="Rolls Royce">Rolls Royce</option>
                            <option value="Seat">Seat</option>
                            <option value="Smart">Smart</option>
                            <option value="Subaru">Subaru</option>
                            <option value="Suzuki">Suzuki</option>
                            <option value="Tesla">Tesla</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Volkswagen">Volkswagen</option>
                            <option value="Volvo">Volvo</option>
                        </select>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputModelo">Modelo</label>
                    <input type="text" id="inputModelo" class="form-control" required formControlName="modelo"
                        [ngClass]="{ 'is-valid': modelo?.valid, 'is-invalid': modelo?.invalid && (modelo?.touched || modelo?.dirty)}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="inputMotor" class="form-label">Motor</label>
                    <select id="inputMotor" class="form-select" required formControlName="motor">
                        <option selected value="Gasolina">Gasolina</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Eléctrico">Eléctrico</option>
                        <option value="Híbrido">Híbrido</option>
                        <option value="GLP">GLP</option>
                    </select>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputPotencia">Potencia</label>
                    <input type="number" id="inputPotencia" class="form-control" min="0" required formControlName="potencia"
                        [ngClass]="{ 'is-valid': (potencia?.touched && potencia?.valid), 'is-invalid': potencia?.invalid && (potencia?.touched || potencia?.dirty)}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputYear">Año</label>
                    <input type="number" id="inputYear" class="form-control" min="1900" [max]="maxFecha" required formControlName="year"
                        [ngClass]="{ 'is-valid': (year?.touched && year?.valid), 'is-invalid': year?.invalid && (year?.touched || year?.dirty)}">
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="inputKilometros">Kilometros</label>
                    <input type="number" id="inputKilometros" class="form-control" min="0" required formControlName="kilometros"
                        [ngClass]="{ 'is-valid': (kilometros?.touched && kilometros?.valid), 'is-invalid': kilometros?.invalid && (kilometros?.touched || kilometros?.dirty)}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="editarVehiculo()">Editar</button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-danger" (click)="borrarVehiculo()">Borrar</button>
                </div>
            </div>
            @if (editado$ | async) {
                <p class="text-center text-success pt-4 mb-0">Se ha editado el vehiculo</p>
            } @else if (borrado$ | async) {
                <p class="text-center text-success pt-4 mb-0">Se ha borrado el vehiculo</p>
            }
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="row">
  <button class="rounded" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
