<section class="container-fluid">
    <article class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2">
            <h2>Calcular presupuesto</h2>
            <div class="row mt-5">
                <div class="col-12 col-md-6">
                    <mat-form-field class="d-block" color="accent">
                        <mat-label>Servicios de reparación</mat-label>
                        <mat-select [formControl]="reparacionesSeleccionado" multiple>
                            @for (servicio of servReparacion$ | async; track servicio.id) {
                                <mat-option [value]="servicio.nombre">{{servicio.nombre}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="d-block" color="accent">
                        <mat-label>Servicios de mantenimiento</mat-label>
                        <mat-select [formControl]="mantenimientosSeleccionado" multiple>
                            @for (servicio of servMantenimiento$ | async; track servicio.id) {
                                <mat-option [value]="servicio.nombre">{{servicio.nombre}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            @if (precio$ | async; as precio) {
                <p class="mb-1">Presupuesto: {{precio}}€</p>
                <p>Precio calculado sin contar las horas de trabajo</p>
            }

            <h2 class="mt-5">Selecciona cuándo quieres hacer la reserva</h2>
            <div class="row mb-5">
                <div class="col-12 col-md-8">
                    <mat-calendar appMarcarDiasCalendario 
                        [minDate]="minDate" [maxDate]="maxDate" 
                        [(selected)]="diaSeleccionado" (selectedChange)="seleccionarDia()"
                        [dateClass]="dateClass"
                    />
                </div>
                <div class="col-12 col-md-4 d-flex d-md-block justify-content-center mt-5">
                    <mat-form-field [class]="ocultarReserva">
                        <mat-label>Hora</mat-label>
                        <input matInput type="time" min="09:00" max="17:00" value="09:00" (change)="seleccionarHora($event)">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-5 mt-4">
                    <button [class]="ocultarReserva" class="btn btn-primary w-100" routerLink="formulario">Siguiente</button>
                </div>
            </div>
        </div>
    </article>
</section>