<div class="container-fluid">
    <section class="d-flex justify-content-center align-items-center vh-100">
        <div class="cuadrado"></div>
        <div class="RegisBox">
            <div class="d-flex justify-content-center align-items-center rounded RegisCont">
                <div class="w-100 h-100 RegisForm">
                    <h2 class="text-white">Registrarse</h2>
                    <form class="form" method="post" [formGroup]="usuario" (submit)="registrar($event)">
                        <div class="row">
                            <div class="col-md-6 mb-4 inputBox">
                                <input type="text" id="inputNif" class="form-control" placeholder="NIF" maxlength="9" required formControlName="nif"
                                    [ngClass]="{ 'is-valid': nif?.valid, 'is-invalid': nif?.invalid && (nif?.touched || nif?.dirty)}">
                            </div>
                            <div class="col-md-6 mb-4 inputBox">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required formControlName="email"
                                    [ngClass]="{ 'is-valid': email?.valid, 'is-invalid': email?.invalid && (email?.touched || email?.dirty)}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 inputBox">
                                <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required formControlName="nombre"
                                    [ngClass]="{ 'is-valid': nombre?.valid, 'is-invalid': nombre?.invalid && (nombre?.touched || nombre?.dirty)}">
                            </div>
                            <div class="col-md-6 mb-4 inputBox">
                                <input type="text" id="inputApellidos" class="form-control" placeholder="Apellidos" required formControlName="apellidos"
                                    [ngClass]="{ 'is-valid': apellidos?.valid, 'is-invalid': apellidos?.invalid && (apellidos?.touched || apellidos?.dirty)}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 inputBox">
                                <input [type]="tipoInput" id="inputFecha" class="form-control" placeholder="Fecha de nacimiento" required formControlName="fechaNacimiento" (click)="cambiarInput()"
                                    [ngClass]="{ 'is-valid': fechaNacimiento?.valid, 'is-invalid': fechaNacimiento?.invalid && (fechaNacimiento?.touched || fechaNacimiento?.dirty)}">
                            </div>
                            <div class="col-md-6 mb-4 inputBox">
                                <input type="tel" id="inputTelefono" class="form-control" placeholder="Teléfono" required formControlName="telefono"
                                    [ngClass]="{ 'is-valid': telefono?.valid, 'is-invalid': telefono?.invalid && (telefono?.touched || telefono?.dirty)}">
                            </div>
                        </div>
                        <div class="inputBox">
                            <div class="row" formGroupName="password">
                                <div class="col-md-6 mb-4">
                                    <div class="password-input w-100">
                                        <input [type]="tipoPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="pass"
                                            [ngClass]="{ 'is-valid': password?.valid, 'is-invalid': password?.invalid && (password?.touched || password?.dirty)}">
                                        <button type="button" id="botonPassword" class="border-0 bg-transparent"
                                            (mousedown)="mostrarPassword()" (mouseup)="ocultarPassword()">
                                            @if (mostrarPass) {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                </svg>
                                            } @else {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                                </svg>
                                            }
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="password-input w-100">
                                        <input [type]="tipoRepetirPassword" id="inputRepetirPassword" class="form-control" placeholder="Repetir contraseña" required formControlName="repetirPass"
                                            [ngClass]="{ 'is-valid': repetirPassword?.valid, 'is-invalid': repetirPassword?.invalid && (repetirPassword?.touched || repetirPassword?.dirty)}">
                                        <button type="button" id="botonRepetirPassword" class="border-0 bg-transparent" 
                                            (mousedown)="mostrarRepetirPassword()" (mouseup)="ocultarRepetirPassword()">
                                            @if (mostrarRepetirPass) {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                </svg>
                                            } @else {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                                </svg>
                                            }
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-column flex-md-row justify-content-md-between mt-4">
                            <button type="submit" id="submit" class="btn btn-primary" [disabled]="!usuario.valid">Registrarse</button>
                            <p class="text-white text-center mt-3">¿Ya tienes una cuenta? <a class="text-dark" routerLink="/login">¡Iniciar sesión!</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>