<h2 mat-dialog-title>Datos de la reserva</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3>Servicios</h3>
        <ul class="list-group">
            @for (servicio of data.servicios; track servicio) {
                <li class="list-group-item">{{servicio}}</li>
            }
        </ul>
        <h3 class="mt-3">Fecha de la reserva</h3>
        <p class="mb-1">El {{data.fecha[0]}} a las {{data.fecha[1]}}</p>
        @if (data.frecuencia) {
          <p>Cada {{data.frecuencia}} meses</p>
        }
        <h3 class="mt-3">Vehículo seleccionado</h3>
        <p>{{data.vehiculo}}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="row justify-content-between">
    <button class="col-4 btn btn-secondary text-white" mat-dialog-close>Cancelar</button>
    <button class="col-4 btn btn-primary" (click)="confirmarReserva()">Confirmar</button>
</mat-dialog-actions>
