<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div id="contBuscador" class="row flex-row justify-content-between">
            <div class="col-4 col-lg-3">
                <button class="btn btn-primary w-100" routerLink="/admin">Volver</button>
            </div>
            <div class="col-6 col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </span>
                    <input type="text" id="inputBuscador" class="form-control" placeholder="Buscar..." (input)="buscar($event)">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @defer (on idle) { 
                        @for (servicio of servicios$ | async; track servicio.id) {
                            <tr (click)="modalServicio(servicio)">
                                <td>{{servicio.nombre}}</td>
                                <td>{{servicio.tipo}}</td>
                                <td>{{servicio.precio}}€</td>
                            </tr>
                        
                        }
                    } @placeholder {
                        <div class="d-flex justify-content-center mt-5">
                            <div class="spinner-border text-primary fs-3" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    } @error {
                        <p class="text-center text-danger">Hubo un error al cargar los servicios</p>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
